---
import BaseLayout from "../layouts/BaseLayout.astro";
import WorkGrid from "../components/WorkGrid.astro";
import WorkItem from "../components/WorkItem.astro";


import { getEntryBySlug } from "astro:content";

// Load markdown sections
const section1 = await getEntryBySlug("about", "section1");
const section2 = await getEntryBySlug("about", "section2");
const section3 = await getEntryBySlug("about", "section3");
const section4 = await getEntryBySlug("about", "section4");
const section5 = await getEntryBySlug("about", "section5");
const section6 = await getEntryBySlug("about", "section6");
const section7 = await getEntryBySlug("about", "section7");
const section8 = await getEntryBySlug("about", "section8");
const section9 = await getEntryBySlug("about", "section9");



// Prepare compiled HTML for each section
const { Content: Section1Content } = await section1.render();
const { Content: Section2Content } = await section2.render();
const { Content: Section3Content } = await section3.render();
const { Content: Section4Content } = await section4.render();
const { Content: Section5Content } = await section5.render();
const { Content: Section6Content } = await section6.render();
const { Content: Section7Content } = await section7.render();
const { Content: Section8Content } = await section8.render();
const { Content: Section9Content } = await section9.render();

---

<BaseLayout>
  <div class="container" style="padding-top:4.5rem">
    <div class="work-para">
      <h1>{section1.data.title}</h1>

      <div>
        <Section1Content />
      </div>
  </div>
  </div>

  <section id="contact" style="background-color: #fff; margin: 5em 0 5em 0">
    <div class="container">
      <div class="arrow">
        <img src="/images/arrow.svg" alt="Arrow pointing right" />
      </div>
<div class="work-grid">
  <img src="">
</div>
      <div
        class="work-grid-3"
        style="padding: 3em 0 7em 0; border-bottom: 1px solid #fff"
      >
        <div class="work-item">
          <h3>{section2.data.title}</h3>
            <Section2Content />
        </div>
        <div class="work-item">
          <h3>{section3.data.title}</h3>
            <Section3Content />
        </div>
        <div class="work-item">
          <h3>{section4.data.title}</h3>
            <Section4Content />
        </div>
      </div>
    </div>
  </section>

 
<div class="container">
    <div class="about-grid" style="padding-bottom: 2em">
      <div class="work-item" style="padding-right: 10%">
       <p>{section5.data.title}</p>
      </div>
      <div class="work-item" style="padding-right: 10%">
        <Section5Content>
      </div>
    </div>

<WorkGrid columns={6}>

    <div class="work-item"> </div>
    <div class="work-item"> </div>
    <div class="work-item"> </div>
    
    <WorkItem type="image" src="/images/about/Lorna-Jones-In-Progress.avif" alt="Community" />
<div class="work-item"> <Section6Content /></div>
  </WorkGrid>

 


  <WorkGrid columns={6}>
    <div class="work-item"> </div> 
    <div class="work-item"> </div> 
    <div class="work-item"> </div> <div class="work-item"> </div> 
    <div class="work-item"> <Section7Content /></div> 
    <WorkItem type="image" src="/images/about/Mike-Andrews-In-Progress-portrait.avif" alt="Community" />

  </WorkGrid>

<WorkGrid columns={2}>  
    <WorkItem type="image" src="/images/Studio.avif" alt="Community" />
<div class="work-item">
        <Section8Content />
<Section9Content />
      </div>


</WorkGrid>
    <div class="work-item-wide" style="margin: 1em 0">
  <img src="/images/Studio.avif" alt="Mike & Lorna" />
    </div>
    <div class="about-grid" style="padding: 1em 0">
      <div class="work-item">
        <h3><Section8Content />
</h3>
      </div>
      <div class="work-item">
        <h3><Section9Content />
        </h3>
      </div>
    </div>
  </div>
</BaseLayout>
